# List

In [ ]:
l1 = []

In [ ]:
l2 = list()

In [ ]:
type(l1)

In [ ]:
type(l2)

In [ ]:
l1 = [1, 2, 3, 4, 5]
print(l1)

In [ ]:
l1 = [1, 2, 3, 10.5, True, 'ABC', False]
print(l1)

In [ ]:
x = l1.append(100)
print(l1)
print(x)

In [ ]:
l1.insert(0, 1000)
print(l1)

In [ ]:
l1.insert(3, 'XYZ')
print(l1)

In [ ]:
l1 = [1, 2, 3]
l2 = [10, 20]
l1.append(l2)
print(l1)
print(l2)

In [ ]:
len(l1)

In [ ]:
l1 = [1, 2, 3]
l2 = [10, 20]
l1.extend(l2)
print(l1)
print(l2)

In [ ]:
l1.extend(100)

In [ ]:
l1.extend([100])
l1

In [ ]:
l1.insert(10, 1000)

In [ ]:
l1

In [ ]:
x = l1.pop()
print(x)
print(l1)

In [ ]:
x = l1.pop(2)
print(x)
print(l1)

In [ ]:
x = l1.pop(10)
print(x)
print(l1)

In [ ]:
print(l1)
x = l1.remove(20)
print(x)
print(l1)

In [ ]:
print(l1)
x = l1.remove(20)
print(x)
print(l1)

In [ ]:
print(l1)
x = l1.clear()
print(x)
print(l1)

In [ ]:
l1 = [1, 2, 3, 4, 5]
x = l1.index(5)
print(x)

In [ ]:
l1 = [1, 1, 1, 2, 2, 3, 4, 5]
x = l1.count(3)
print(x)

In [ ]:
l1 = [1, 12, 10, 2, 21, 30, 4, 5]
x = l1.reverse()
print(x)
print(l1)

In [ ]:
l1 = [1, 12, 10, 2, 21, 30, 4, 5]
x = list(reversed(l1))
print(x)
print(l1)

In [ ]:
l1 = [1, 12, 10, 2, 21, 30, 4, 5]
x = l1.sort()
print(x)
print(l1)

In [ ]:
l1 = [1, 12, 10, 2, 21, 30, 4, 5]
x = l1.sort(reverse = True)
print(x)
print(l1)

In [ ]:
l1 = [1, 12, 10, 2, 21, 30, 4, 5]
x = sorted(l1)
print(x)
print(l1)

In [ ]:
l1 = [1, 12, 10, 2, 21, 30, 4, 5]
x = sorted(l1, reverse=True)
print(x)
print(l1)

In [ ]:
len(l1)

In [ ]:
min(l1)

In [ ]:
max(l1)

In [ ]:
sum(l1)

In [ ]:
print(l1)
del l1[0]
print(l1)

In [ ]:
del l1

In [ ]:
print(l1)

In [ ]:
l1 = [1,2,3]
l2 = l1
l3 = l1.copy()

In [ ]:
l2

In [ ]:
l3

In [ ]:
l1 is l2

In [ ]:
l1 is l3

### Slicing and Indexing of a list

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[0])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[5])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[-1])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[-3])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[0:4])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[:2])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[2:4])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[0:10:2])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[1:10:3])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[::-1])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[::-2])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(l1[-1:-5:-1])

In [ ]:
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
l1[-2:-5:-1]

In [ ]:
l1[5:7]

In [ ]:
l1[-2:2:-2]

In [ ]:
l1 = [[10, 20, 30], [40, 50, 60, 70, 80, 90, [100, 1000], ['abc', True, False]]]
print(l1)

In [ ]:
l1 = [[10, 20, 30], [40, 50, 60, 70, 80, 90, [100, 1000], ['abc', True, False]]]
l1[0][0]

In [ ]:
len(l1)

In [ ]:
l1 = [[10, 20, 30], [40, 50, 60, 70, 80, 90, [100, 1000], ['abc', True, False]]]
l1[0][1:3]

In [ ]:
l1[1][6][0]

In [ ]:
l1[1][-2][0]

In [ ]:
l1[-1][6][0]

In [ ]:
l1 = [[10, 20, 30], [40, 50, 60, 70, 80, 90, [100, 1000], ['abc', True, False]]]
l1[1][-1][0][0]

In [ ]:
l1[-1][-1][1]

In [ ]:
l1[1][-1][1]

### List Comprehension

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = []
for val in l1:
    l2.append(val**2)
print(l2)

In [ ]:
l3 = [val**2 for val in l1]  ## syntax: [expr for item in iterable_obj]
print(l3)

In [ ]:
l4 = [val+10 for val in l1]
print(l4)

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [val for val in l1 if val%2 != 0]
print(l2)

In [ ]:
# get the cities from below list having 6 or more chars in their name
l1 = ['Pune', 'Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Banglore']
l2 = [city for city in l1 if len(city) >= 6]
print(l2)

In [ ]:
# get the cities from below list staring with 'A', 'B', or 'C'
l1 = ['Pune', 'Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Banglore']
l2 = [city for city in l1 if city[0] == 'A' or city[0] == 'B' or city[0] == 'C']
print(l2)

In [ ]:
# get the cities from below list staring with 'A', 'B', or 'C'
l1 = ['Pune', 'Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Banglore']
l2 = [city for city in l1 if city[0] in ['A', 'B', 'C']]
print(l2)

In [ ]:
# get the cities from below list staring with 'A', 'B', or 'C'
l1 = ['Pune', 'Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Banglore']
l2 = [city for city in l1 if city[0] in ['A', 'B', 'C']]
print(l2)

In [ ]:
# get the numbers greater than 50
l1 = [10, 234, 45, 19, 2, 21, 89]

In [ ]:
# add two lists elementwise and prepare new list

l1 = [1, 2, 3, 4, 5]
l2 = [10, 20, 30, 40, 50]
l3 = [l1[i] + l2[i] for i in range len(l1)]
print(l3)
# Expected output: list l3 as [11, 22, 33, 44, 55]

In [ ]:
# perform elementwise comparison and get the greater value in new list

l1 = [10, 21, 35, 42, 59]
l2 = [12, 20, 31, 46, 52]
l3 = [max(l1[i], l2[i]) for i in range(len(l1))]
l4 = [l1[i] if l1[i] > l2[i] else l2[i] for i in range(len(l1))]                                                   
print(l3)
print(l4)
# Expected output: list l3 as [12, 21, 35, 46, 59]

In [ ]:
[0]*2

In [ ]:
[0]*5

# Tuple

In [ ]:
t1 = ()
print(type(t1))

In [ ]:
t2 = tuple()
print(type(t2))

In [ ]:
t1 = (1, 2, 3, 4, 5)
print(t1)
print(type(t1))

In [ ]:
for item in t1:
    print(item)

In [ ]:
t1 = (1,)
print(type(t1))

In [ ]:
t1.append(2)

In [ ]:
t1 = (1, 2, 3)
t1[0]

In [ ]:
t1[0] = 100

In [ ]:
del t1[0]

In [ ]:
del t1

In [ ]:
t1

In [119]:
t1 = (1, 2, 3)
t2 = (4, 5)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5)

In [120]:
l1 = list(t1)
print(l1)
print(type(l1))

[1, 2, 3]
<class 'list'>

In [122]:
t3 = tuple(l1)
print(t3)
print(type(t3))

(1, 2, 3)
<class 'tuple'>

In [123]:
len(t3)

3

In [124]:
t3.count(1)

1

In [125]:
min(t3)

1

In [126]:
max(t3)

3

In [127]:
sum(t3)

6

In [128]:
t1 = (1, 2, 3, 'abc', [10, 20])
t1[3][0]

'a'

In [129]:
t1.index(3)

2

In [130]:
t1[-1][0]

10

In [132]:
t1 = (1, 2, 3, 'abc', [10, 20])
print(id(t1))
t1[-1][0] = 100
print(id(t1))

2263581053872
2263581053872

# Dictionary

In [133]:
d1 = {}
print(type(d1))

<class 'dict'>

In [134]:
d2 = dict()
print(type(d2))

<class 'dict'>

In [135]:
d1 = {10:'Ten', 20:'Twenty', 30:'Thirty'}
print(d1)

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

In [136]:
len(d1)

3

In [137]:
max(d1)

30

In [138]:
min(d1)

10

In [139]:
sum(d1)

60

In [143]:
d1 = {10:'Ten', 20:'Twenty', 30:'Thirty'}
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys([10, 20, 30])
dict_values(['Ten', 'Twenty', 'Thirty'])
dict_items([(10, 'Ten'), (20, 'Twenty'), (30, 'Thirty')])

In [144]:
d1 = {10:'Ten', 20:'Twenty', 30:'Thirty'}
d1[0]

KeyError: 0

In [145]:
d1[10]

'Ten'

In [146]:
d1[10] ='TEN'
print(d1)

{10: 'TEN', 20: 'Twenty', 30: 'Thirty'}

In [147]:
d1[40] = 'Fourty'
print(d1)

{10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty'}

In [148]:
d1 = {10:'Ten', 20:'Twenty', 30:'Thirty'}
d1.update({10:'TEN', 40: 'Fourty'})
print(d1)

{10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty'}

In [149]:
for data in d1.items():
    print(data)
    print(type(data))
    print()

(10, 'TEN')
<class 'tuple'>

(20, 'Twenty')
<class 'tuple'>

(30, 'Thirty')
<class 'tuple'>

(40, 'Fourty')
<class 'tuple'>

In [150]:
for k, v in d1.items():
    print('Key is: ', k)
    print('Value is: ', v)
    print()

Key is:  10
Value is:  TEN

Key is:  20
Value is:  Twenty

Key is:  30
Value is:  Thirty

Key is:  40
Value is:  Fourty

In [151]:
for key in d1.keys():
    print(d1[key])
    print()

TEN

Twenty

Thirty

Fourty

In [152]:
for val in d1.values():
    print(val)
    print()

TEN

Twenty

Thirty

Fourty

In [153]:
print(d1)

{10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty'}

In [154]:
d1.pop()

TypeError: pop expected at least 1 argument, got 0

In [155]:
d1.pop('Fourty')

KeyError: 'Fourty'

In [158]:
x = d1.pop(50)
print(x)
print(d1)

KeyError: 50

In [157]:
x = d1.popitem()
print(x)
print(d1)

(30, 'Thirty')
{10: 'TEN', 20: 'Twenty'}

In [160]:
d1 = {10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty'}
print(d1[10])

TEN

In [161]:
print(d1[50])

KeyError: 50

In [164]:
if 50 in d1.keys():
    print(d1[10])
else:
    print('No such key')

No such key

In [168]:
x = d1.get(50)
# print(x)
if x:
    print(x)
else:
    print('No such key')

No such key

In [169]:
d1.get(10)

'TEN'

In [171]:
x = d1.get(50)
print(x)

None

In [172]:
x = d1.get(10, 'Unknown')
print(x)

TEN

In [173]:
x = d1.get(50, 'Unknown')
print(x)

Unknown

In [174]:
d1 = {10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty'}
x = d1.setdefault(10)
print(x)
print(d1)

TEN
{10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty'}

In [175]:
d1 = {10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty'}
x = d1.setdefault(50)
print(x)
print(d1)

None
{10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty', 50: None}

In [176]:
d1 = {10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty', 50: None}
x = d1.setdefault(10, 'Unknown')
print(x)
print(d1)

TEN
{10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty', 50: None}

In [177]:
d1 = {10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty', 50: None}
x = d1.setdefault(60, 'Unknown')
print(x)
print(d1)

Unknown
{10: 'TEN', 20: 'Twenty', 30: 'Thirty', 40: 'Fourty', 50: None, 60: 'Unknown'}

In [181]:
x = d1.get(50)
print(x)
# x

None

In [182]:
d1.clear()
print(d1)

{}

In [183]:
del d1

In [184]:
emp_list = ['Abhay', 'Bob', 'Jatin', 'Peter']
sal_list = [15000, 10000, 25000, 30000]
d1 = dict(zip(emp_list, sal_list))
d1

{'Abhay': 15000, 'Bob': 10000, 'Jatin': 25000, 'Peter': 30000}

In [185]:
d4 = {1: [1, 2, [5, 6, 7]], 2: ('a', 'b', 'c') }
#extract [5,6,7] from d4
d4[1][2]

[5, 6, 7]

In [186]:
#extract 6
d4[1][2][1]

6

In [187]:
#extract 'b'
d4[2][1]

'b'

In [188]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}

# extract 'z'
d5['one']['el_one'][3]['el_two']

'z'

In [189]:
d6={'new':[9,4,5,['split','merge',10]],
    'old':('s',17,0),'mid':{'ram':4,
                            'ravi':8}}
#Extract 'merge'
d6['new'][3][1]

'merge'

In [190]:
#extract 8
d6['mid']['ravi']

8

# Set

In [191]:
s1 = set()
print(type(s1))

<class 'set'>

In [192]:
s1 = {1, 2, 3, 1, 2, 1, 3, 4}
print(len(s1))
print(s1)

4
{1, 2, 3, 4}

In [193]:
for val in s1:
    print(val)

1
2
3
4

In [209]:
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [210]:
s1.update([1, 2, 10])
print(s1)

{1, 2, 3, 4, 5, 10}

In [214]:
#pop
x = s1.pop()
print(x)
print(s1)

4
{5, 10}

In [215]:
# remove
s1 = {1, 2, 3, 4, 5}
x = s1.remove(2)
print(x)
print(s1)

None
{1, 3, 4, 5}

In [216]:
s1.remove(2)

KeyError: 2

In [227]:
# discard
print(s1)
x = s1.discard(3)
print(x)
print(s1)

{1, 4, 5}
None
{1, 4, 5}

In [228]:
# clear
s1.clear()
print(s1)

set()

In [230]:
# union
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {5, 6, 7, 8, 9, 10}

s3 = s2.union(s1)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [233]:
# intersection
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {5, 6, 7, 8, 9, 10}

s3 = s2.intersection(s1)
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10}
{5, 6, 7}

In [236]:
# difference
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {5, 6, 7, 8, 9, 10}

s3 = s2.difference(s1)
s4 = s1.difference(s2)
print(s1)
print(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10}
{8, 9, 10}
{1, 2, 3, 4}

In [237]:
# symmetric_difference
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {5, 6, 7, 8, 9, 10}

s3 = s2.symmetric_difference(s1)

print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 8, 9, 10}

In [243]:
# find the name of employee who is getting maximum/minimum salary

d1 = {'Abhay': 15000, 'Bob': 10000, 'Jatin': 50000, 'Peter': 30000}
emp = max(d1, key = d1.get)
print(emp)

Peter

In [240]:
#sort the givgen list to get the below output
l1 = [10, -2, 5, -6, -20, 4]

# expected output
# l1 = [-2, 4, 5, -6, 10, -20]

l1.sort(key=abs)
print(l1)

[-2, 4, 5, -6, 10, -20]